<form action="">
  <div class="info">
    <label for="MAXPLAYERS">MAXPLAYERS</label
    ><input type="text" name="MAXPLAYERS" id="MAXPLAYERS" />
  </div>
  <div class="info">
    <label for="PLAYERFILE">PLAYERFILE</label
    ><input type="text" name="PLAYERFILE" id="PLAYERFILE" />
  </div>
  <div class="info">
    <label for="PLAINTEXTPASSWORD">PLAINTEXTPASSWORD</label
    ><input type="text" name="PLAINTEXTPASSWORD" id="PLAINTEXTPASSWORD" />
  </div>
  <div class="info">
    <label for="FAVICON">FAVICON</label
    ><input type="text" name="FAVICON" id="FAVICON" />
  </div>
  <div class="info">
    <label for="EXPRESSPORT">EXPRESSPORT</label
    ><input type="text" name="EXPRESSPORT" id="EXPRESSPORT" />
  </div>
  <div class="info">
    <label for="FRONTENDURL">FRONTENDURL</label
    ><input type="text" name="FRONTENDURL" id="FRONTENDURL" />
  </div>
  <div class="info">
    <label for="GAME-RESETONSTART">GAME-RESETONSTART</label
    ><input type="text" name="GAME-RESETONSTART" id="GAME-RESETONSTART" />
  </div>
  <div class="info">
    <label for="GAME-MAPFILENAME">GAME-MAPFILENAME</label
    ><input type="text" name="GAME-MAPFILENAME" id="GAME-MAPFILENAME" />
  </div>
  <div class="info">
    <label for="GAME-SAVEFILE">GAME-SAVEFILE</label
    ><input type="text" name="GAME-SAVEFILE" id="GAME-SAVEFILE" />
  </div>
  <div class="info">
    <label for="GAME-RUNSPEED">GAME-RUNSPEED</label
    ><input type="text" name="GAME-RUNSPEED" id="GAME-RUNSPEED" />
  </div>
  <div class="info">
    <label for="GAME-MAXGAMEOBJECTS">GAME-MAXGAMEOBJECTS</label
    ><input type="text" name="GAME-MAXGAMEOBJECTS" id="GAME-MAXGAMEOBJECTS" />
  </div>
</form>
