<div class="Info">
  <div *ngIf="menuEntries.length > 1">
    <button (click)="settleAll()">Settle / Mobilize</button>
    <button (click)="toggleProduktionAll()">Toggle army Produktion</button>
  </div>
  <div
    *ngFor="let entry of menuEntries; trackBy: isSameGameObject"
    class="info"
  >
    <div>
      Name:
      <div *ngIf="entry.owner != username">
        {{ entry.name }}
      </div>
      <input
        type="text"
        name="name"
        id="name"
        [defaultValue]="entry.name"
        #nameInput
        (change)="changeName($event, nameInput, entry.name)"
        *ngIf="entry.owner == username"
      />
    </div>
    <div>X-Position: {{ entry.x }}</div>
    <div>Y-Position: {{ entry.y }}</div>
    <div>Owner: {{ entry.owner }}</div>
    <div>Strength: {{ entry.strength }}</div>
    <div>Size: {{ entry.size }}</div>
    <div
      *ngIf="entry.typeof.type == 'saveArmy' && entry.typeof.gotox != entry.x"
    >
      Target-X: {{ entry.typeof.gotox }}
    </div>
    <div
      *ngIf="entry.typeof.type == 'saveArmy' && entry.typeof.gotoy != entry.y"
    >
      Target-Y: {{ entry.typeof.gotoy }}
    </div>
    <div
      *ngIf="entry.typeof.type == 'saveSchiff' && entry.typeof.gotox != entry.x"
    >
      Target-X: {{ entry.typeof.gotox }}
    </div>
    <div
      *ngIf="entry.typeof.type == 'saveSchiff' && entry.typeof.gotoy != entry.y"
    >
      Target-Y: {{ entry.typeof.gotox }}
    </div>
    <div *ngIf="entry.typeof.type == 'saveStadt'">
      Speed: {{ entry.typeof.speed }}
    </div>
    <div *ngIf="entry.typeof.type == 'saveStadt'">
      Population: {{ entry.typeof.population }}
    </div>
    <div *ngIf="entry.typeof.type == 'saveStadt' && entry.typeof.production">
      Time to new Army: {{ entry.typeof.makingofarmy }}
    </div>
    <div *ngIf="entry.typeof.type == 'saveStadt' && !entry.typeof.production">
      Army Production has been stopped({{ entry.typeof.makingofarmy }})
    </div>
    <button
      *ngIf="
        entry.strength > 500 &&
        entry.owner == username &&
        (entry.typeof.type == 'saveSchiff' || entry.typeof.type == 'saveArmy')
      "
      (click)="settle(entry.name)"
    >
      Settle
    </button>
    <button
      *ngIf="
        entry.owner == username &&
        entry.typeof.type == 'saveStadt' &&
        !entry.typeof.capital
      "
      (click)="settle(entry.name)"
    >
      mobilize
    </button>
    <button
      *ngIf="entry.owner == username && entry.typeof.type == 'saveStadt'"
      (click)="toggleProduktion(entry.name)"
    >
      Toggle army Produktion
    </button>
    <!-- <button *ngIf="entry.owner == username">Rename</button> -->
  </div>
  <div *ngIf="menuEntries.length == 0">No selection</div>
</div>
