@import '../../vars';
.info {
  // margin: 0.2rem;
  // margin-left: 0.5rem;
  margin-top: 0.3rem;
  padding: 0.2rem;
  border-top: 2px solid $secondaryB;
}

.headding {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 1rem;
  font-weight: 700;

  .test {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: space-between;
  }

  .btn {
    padding-inline: 1rem;
  }
}
