$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #228639;
$teal: #20c997;
$cyan: #17a2b8;
$white: #23272b;
$gray: #6c757d;
$gray-dark: #343a40;

$primary: #fffb07;
$secondaryA: #143109;
$secondaryB: #161b33;
$success: #228639;
$info: #17a2b8;
$warning: #fabc2a;
$danger: #93032e;
$light: #e2fcef;
$dark: #000000;
