<div id="body">
  <input
    type="number"
    name="percent"
    id="percent"
    #inp
    (change)="apply(inp, inpLeft)"
    [defaultValue]="1"
  />
  <input
    type="number"
    name="percentLeft"
    id="percentLeft"
    #inpLeft
    (change)="apply(inp, inpLeft)"
    [defaultValue]="0"
  />
  <button (click)="apply(inp, inpLeft)">Apply</button>
  <div id="A">
    <div
      id="B"
      [ngStyle]="{
        transform: 'scale(' + zoom + ',1) translate(' + left + '%,0%)'
      }"
    >
      <div id="middel"></div>
    </div>
    <div
      id="C"
      [ngStyle]="{
        width: zoom * 100 + '%',
        transform: 'translate(' + left2 + '%,0%)'
      }"
    >
      <div id="middel"></div>
    </div>
  </div>
</div>
