*{
  font-size: 100%;
}

#loose{
  position: absolute;
  background:  rgba(34, 34, 34, 0.61);
  height:100% ;
  width: 100%;
  top: 0%;
  left:0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loose #loosetag{
  height:60%;
  width: 50%;
  background:  rgb(100, 93, 116);
  text-align: center;
}
#loose #loosetag h1{
  color: red;
}
#loose #loosetag p{
  color: wheat;
}
#loose #loosetag #death{
  height:50%;
  width: 50%;
}

#send{
  position: absolute;
  height:10% ;/*6.25%*/
  width: 10%;

  top: 0%;
  left:90% /*93.75%*/;
}

#info {
  position: absolute;
  height: 25%;
  width: 25%;

  top: 75%;
  left: 75%;

  background-color: #ffffffc4;
  color: #000000;

}

#info .image{
  position: absolute;
  height: 25%;
  width: 25%;

  top: 0%;
  left: 75%;
}

#info div{
  position: absolute;
  height: 100%;
  width: 100%;

  
}

#info #Armee{
  font-size: 66%;
}

#info #Stadt{
  font-size: 66%;
}


.gamecntent {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  border: 5px solid green;
}

#game {
  position: absolute;
  height: 100%;
  width: 100%;
}

#cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-aspect-ratio: 1/1) {
  .gamebox {
    position: relative;
    width: 95vh;
    height: 95vh;
    font-size: 3vh;
  }
}

/* Maximum aspect ratio */
@media (max-aspect-ratio: 1/1) {
  .gamebox {
    position: relative;
    width: 95vw;
    height: 95vw;
    font-size: 3vw;
  }
}

@media (aspect-ratio: 1/1) {
  body {
    background-image: url("/favicon.ico");
  }
}