<nav id="nav">
  <div class="menu">
    <h1>
      <a href="index.php"><i class="fas fa-cheese"></i>{{ name }}</a>
    </h1>
    <div class="menuitemsdesktop">
      <a class="menuboxdesktop" routerLink="/config"
        ><i class="fas fa-landmark"></i> Config</a
      >
      <a class="menuboxdesktop" routerLink="/debug"
        ><i class="fas fa-cogs"></i> Debug</a
      >
      <a class="menuboxdesktop" routerLink="/watch"
        ><i class="fas fa-book"></i> Zuschauen</a
      >
    </div>
  </div>
</nav>
