.heading {
  text-align: center;
  width: max-content;
  font-size: larger;
  margin: 0.4rem;

  .moveBox {
    height: 1rem;
    aspect-ratio: 1/1;
    border: 1px solid yellow;
    fill: yellow;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .move {
      height: 100%;
      aspect-ratio: 1;
      vertical-align: middle;
      fill: currentColor;
      overflow: hidden;
    }
  }
}

.infoPanel {
  text-align: start;
  top: 20px;
  left: 30px;
  position: fixed;
  background-color: rgba($color: #333333, $alpha: 1);
  color: yellow;
  height: max-content;
  width: max-content;
}
