<div>
  <form (submit)="signIn($event)">
    <label for="username">Benutzername</label>
    <input
      type="text"
      name="username"
      id="username"
      [(ngModel)]="user.username"
    />
    <label for="password">Passwort</label>
    <input
      type="password"
      name="password"
      id="password"
      [(ngModel)]="user.pass"
    />
    <input type="submit" value="Einloggen" />
    <div>
      <div *ngIf="message == 'success'">Success</div>
      <div *ngIf="message == 'taken' || message == 'failed'">
        Etwas ist schief gelaufen
      </div>
      <div *ngIf="message == 'wrong'">Passwort ist falsch</div>
    </div>
  </form>
  <a routerLink="/signUp">Erstelle einen Benutzer</a><br>
  <a routerLink="/watch">Nur Zuschauen</a>
</div>
