#cent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .state {
    color: red;
  }
  
  #loginCont {
    background-color: limegreen;
    width: max-content;
    height: fit-content;
    align-content: center;
    text-align: center;
    position: relative;
  }
  
  #loginCont a {
    color: darkblue;
  }
  #loginCont a:hover {
    color: blue;
  }
  
  #loginCont .bigie {
    width: 90%;
  }
  