#frame {
  height: 90vh;
  margin: 10px;
  margin-inline: auto;
  aspect-ratio: 16/9;
  border: 3px solid green;
  overflow: hidden;
  position: relative;
}

.loadingIcon {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameFrame {
  position: absolute;
  width: 100%;
  transition: transform 100ms;
  top: 50%;
  left: 50%;
  overflow: hidden;
}

#gameObjects {
  position: absolute;
  width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  transition: transform 100ms;
  top: 50%;
  left: 50%;
  outline: 1px solid blue;
}

.selector {
  width: 100px;
  height: 100px;
  background-color: green;
}
img {
  position: absolute;
  height: 100%;
  width: 100%;
}
