#frame {
  height: 90vh;
  margin: 10px;
  margin-inline: auto;
  aspect-ratio: 16/9;
  border: 3px solid green;
  overflow: hidden;
  position: relative;
}

#gameFrame {
  // width: 100%;
  position: absolute;
  transition: transform 100ms;
  transition: width 100ms;
  transform: translate(-50%,-50%);
  // top: 100%;
}

img {
  height: 100%;
  width: 100&;
  image-rendering: crisp-edges;
  // image-rendering: pixelated;
}
