/* You can add global styles to this file, and also import other style files */

* {
  margin: 0px;
  padding: 0px;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #228639;
$teal: #20c997;
$cyan: #17a2b8;
$white: #23272b;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #4289c4;
$secondary: #cad0d8;
$success: #228639;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #353c42;
$dark: #1e2226;
