<form (submit)="signUp($event)">
  <label for="username">Benutzername</label>
  <input
    type="text"
    name="username"
    id="username"
    [(ngModel)]="user.username"
  />
  <label for="password">Passwort</label>
  <input
    type="password"
    name="password"
    id="password"
    [(ngModel)]="user.pass"
  />
  <label for="password2">Passwort erneut eingeben</label>
  <input type="password" name="password2" id="password2" [(ngModel)]="pass2" />
  <input type="submit" value="Einloggen" />
  <div>
    <div *ngIf="message == 'success'">Success</div>
    <div *ngIf="message == 'taken'">Diese Benutzername ist bereits benutzt</div>
    <div *ngIf="message == 'failed'">Etwas ist schief gelaufen</div>
    <div *ngIf="message == 'wrong'">Das Passwort muss übereinstimmen</div>
  </div>
</form>
