<div>
  <form (submit)="signin($event)">
    <label for="username">Benutzername</label>
    <input
      type="text"
      name="username"
      id="username"
      [(ngModel)]="user.username"
    />
    <label for="password">Passwort</label>
    <input
      type="password"
      name="password"
      id="password"
      [(ngModel)]="user.pass"
    />
    <input type="submit" value="Einloggen" />
    <div>
      <div *ngIf="mesage == 'success'">Success</div>
      <div *ngIf="mesage == 'taken' || mesage == 'failed'">
        Etwas ist schief gelaufen
      </div>
      <div *ngIf="mesage == 'wrong'">Passwort ist falsch</div>
    </div>
  </form>
  <a routerLink="/signup">Erstelle einen Benutzer</a>
</div>
